@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
}

.page-container {
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  padding: 0 71px 0 238px;
  position: relative;
  height: 64px;
}

.logo-link {
  left: 70px;
  position: absolute;
  top: 0;
}

.logo {}

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  padding: 0;
  margin: 0;
  list-style-type: none
}

.navigation-item {
  padding: 20px 16px;
}

.navigation-link-home {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}


.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation-link-home::before {
content: "";
width: 68px;
border: 2px solid #756257;;
display: block;
position: absolute;
bottom: 0;
}

.navigation-link-home .navigation-link-home::before {
  border-color: rgba(0, 0, 0, 0.3);
}


.navigation-user {
  display: flex;
  max-width: 350px;
  min-height: 64px;
  padding: 0;
  margin: 0 0 0 auto;
  list-style-type: none
}

.navigation-user-list {
  display: flex;
  width: 600px;
  padding: 0;
  margin: 0;
  list-style-type: none
}

.navigation-user-link {
  text-decoration: none;
}

.navigation-search {
  padding: 4px 0 0 21px;
}

.navigation-search-img {
  padding: 19px 4px 30px 75px;
}

.navigation-like-img {
  padding: 19px 6px 30px 0;
}
.navigation-user-button {
  width: 160px;
  height: 36px;
  padding: 17px 0 14px 20px;
}

.navigation-link-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px 8px 34px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
}


.main-container {
  flex-grow: 1;
}

.main-index {
  color: #000000;
}

.welcome {
  background-color: #deebf3;
  background-image: url("../images/hils.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
  padding: 48px 0 78px 0;
}

.adventures {
  text-align: center;
}

.adventures-city-description {
  width: 1200px;
  height: 282px;
  top: 485px;
  overflow: hidden;
}

.adventures-caption {
  padding: 69px 290px 25px 260px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  width: 650px;
  text-transform: uppercase;
}

.adventures-text {
  padding: 0 274px 90px 226px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  width: 700px;
  color: #333333;
}

.adventures-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  width: 100%;
}

.adventures-item {
  display: flex;
  background: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantures-item--blue {
  color: #ffffff;
  background-color: #82B3D3;
}

.advantures-item--olive {
  background: rgba(131, 179, 211, 0.2);
}

.adventures-container {
  padding:92px 85px 111px 85px;
  min-height: 384px;
  box-sizing: border-box;
  width: 400px;
}

.adventures-container-center {
  padding:103px 85px 121px 85px;
  min-height: 384px;
  box-sizing: border-box;
  width: 400px;
}

.adventures-container-use {
  padding:80px 85px 81px 85px;
  min-height: 384px;
  box-sizing: border-box;
  width: 400px;
}

.adventures-title {
  font-family: 'PT Sans';
  margin: 0 auto 62px;
  width: 178px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  position: relative;
}

.adventures-title::before {
  content: "";
  width: 60px;
  height: 1px;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: -34px;
}

.advantures-item--blue .adventures-title::before {
  border-color: rgba(255, 255, 255, 0.3);
}

.adventures-description {
  padding: 0;
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.adventures-img-container {
  width: 800px;
  height: 100%;
  overflow: hidden;
}

.adventures-img {
  height: 100%;
  width: auto;
  display: block;
}

.dvantures-item—house {
  color: #000000;
  background-color: #ffffff;
}

.advantures-item—food {
  color: #000000;
  background-color: #ffffff;
}

.advantures-item—souvenirs {
  color: #000000;
  background-color: #ffffff;
}

.village-image.png {
  width: 74px;
  height: 70px;
  color: #83B3D3;
  background-color: #deebf3;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.adventures-title-last-block {
  margin: 0 auto 30px;
  padding-top: 30px;
  width: 178px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  position: relative;
}

.interested {
  width: 1200px;
  text-align: center;
  list-style-type: none
}

.interested-title {
  font-family: 'PT Sans';
  padding:96px 451px 20px 451px;
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.interested-description {
  padding: 0 304px 54px 304px;
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.button-hotel {
  display: block;
  padding: 0 412px 96px 412px;
}

.button-hotel-text {
  padding:8px 50px 8px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

.page-footer {
  color: #000000;
  background-color: #ffffff;
}

.page-footer a {
  color: inherit;
}

.footer-newsletter {
  width: 1200px;
  background-color: #deebf3;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
}

.footer-newsletter-title {
  font-family: 'PT Sans';
  padding:96px 396px 20px 396px;
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.footer-newsletter-description {
  padding: 0 104px 106px 104px;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.mail-address {
  width: 684px;
  margin: 0 auto;
  display: flex;
}


.button-subscription {}

.appointment-form {
  padding: 0;
  margin: 0 auto;
}

.assigned-frame {
  adding: 0 0 104px 258px;
}

.appointment-date {

}

.appointment-date-mail {
  width: 452px;
  height: 47px;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;

  text-transform: none;
}


.button-subscription {
  height: 52px;
  padding: 8px 50px 8px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
  border: none;
}

.contacts-container {
  padding: 40px 70px 30px 70px;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
}

.footer-contacts {
  color: #000000;
  background-color: #ffffff;
}



.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 236px;
  min-height: 40px;
  padding: 0;
  margin: 0;
  list-style-type: none
}

.social-item {
  display: block;
  padding: 13px;
}

.button {}

.vk {

}

.tg {}

.yt {}

.footer-phone {
  display: block;
}

.footer-phone-number {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}


.footer-phone {
  display: block;
}
.footer-Logo-icon {}
